@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.modal-overlay {
  opacity: 0;
  transition: opacity 200ms ease;
}

.modal-overlay--after-open {
  opacity: 1;
}

.modal-overlay--before-close {
  opacity: 0;
}

.modal-content {
  transform: translateY(60vh);
  opacity: 0;
  transition:
    transform 220ms ease,
    opacity 220ms ease;
}

.modal-content--after-open {
  transform: translateY(0);
  opacity: 1;
}

.modal-content--before-close {
  transform: translateY(60vh);
  opacity: 1;
  transition: transform 220ms ease;
}
